<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Ingresar Cliente</h1>
        </div>
        <div>
            <form action="">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.apellido" name="apellido">
                </div>
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.correo" name="correo">
                </div>
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.telefono" name="telefono">
                </div>
                <div>
                    <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
                </div>
            </form>
        </div>

</div>
</div>